// Main sidebar:
$sidebar-bg: #082032;

// Sidebar-top:
$devider-bg: #2c394b;
$Company-name: #fff;

// Menu item (sidebar):
$menu-icon: #fff;
$Menu-item-text: #628395;
$Active-Menu-item-text: #fff;

// Login button(sidebar):
$loginbtn-bg: #055052;
$loginbtn-text: #ffe6e6;
$loginbtn-hover-bg: #334756;

// user section (sidebar):
$user-img-bg: #fff;
