@import "colour";

.sidebar-container {
  position: fixed;
  box-sizing: border-box;
  width: 300px;
  background: $sidebar-bg;
  height: 100%;
  padding: 20px 20px;

  .top-section {
    position: relative;

    .logo {
      width: 50px;
      height: 50px;
      display: inline-block;
      overflow: hidden;

      img {
        max-width: 100%;
      }
    }
    .company-name {
      position: absolute;
      top: 13%;
      right: 20px;
      cursor: pointer;

      p {
        font-size: 25px;
        color: $Company-name;
        font-weight: 600;
      }
    }

    .devider {
      margin-top: 20px;
      width: 100%;
      height: 5px;
      border-radius: 10px;
      background: $devider-bg;
    }
  }
  .login-section {
    position: absolute;
    bottom: 15%;
    text-decoration: none;
    button {
      width: 12em;
      box-sizing: border-box;
      appearance: none;
      border: 0.5px solid rgb(54, 51, 51);
      border-radius: 0.6em;
      color: $Menu-item-text;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1;
      padding: 0.5em 2em;
      text-transform: uppercase;
      background-color: transparent;
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

      &:hover,
      &:focus {
        box-shadow: 0 0 40px 40px $loginbtn-hover-bg inset;
        border: 0.5px solid rgb(224, 209, 209);
        color: #f3f2c9;
        outline: 0;
      }
    }
    // button {
    //   width: 11.5em;
    //   height: 2em;
    //   border-bottom-right-radius: 2em;
    //   border-top-right-radius: 2em;
    //   border: 0;
    //   font-size: 1.2em;
    //   font-weight: 500;
    //   letter-spacing: 5px;
    //   color: $loginbtn-text;
    //   background: $loginbtn-bg;

    //   &:hover {
    //     // background: $loginbtn-hover-bg;
    //     background: darken($color: $loginbtn-bg, $amount: 7%);
    //   }
    // }
  }
  .main-menu {
    display: block;
    top: 15%;
    position: absolute;
    margin-top: 25px;
    width: 220px;
    box-sizing: border-box;
    padding: 5px;
  }

  .user-section {
    position: absolute;
    bottom: 5%;
    width: 250px;
    margin-left: 10px;

    .user-image {
      height: 40px;
      width: 40px;
      overflow: hidden;
      display: inline-block;
      background: $user-img-bg;
      border-radius: 50%;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
    .user-info {
      display: inline-block;
      color: $Menu-item-text;
      position: absolute;
      margin: 0 10px;
      h5 {
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
