@import "colour";

.menu-item {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: 600;
  cursor: pointer;

  .menu-icon {
    margin-right: 5px;
    margin-top: 7px;
    display: inline-block;
    width: 50px;
    height: 40px;
    color: $Colour-menu-icon;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    transition: font-size 0.3s ease-out;
  }

  span {
    padding-top: 5px;
    font-size: 18px;
    display: inline;
    position: absolute;
    line-height: 40px;
    color: $Colour-Menu-item-text;
    transition: font-size 0.3s ease-out;
  }
}
.selected-menu {
  background: rgb(228, 23, 20);
  border-radius: 5px;

  .menu-icon {
    font-size: 25px;
  }
  span {
    color: $Colour-Active-Menu-item-text;
    font-size: 20px;
  }
}
