@import "colour";

.menu-items {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  .menu-item-icon {
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 30px;
    display: inline-block;
    line-height: 40px;
    padding-right: 10px;
    text-align: center;
  }

  span {
    position: absolute;
    display: inline-block;
    line-height: 30px;
    position: absolute;
    color: $Colour-Menu-item-text;
  }
}
