@import "colour";

.sidebar-container {
  // border: 3px solid gray;
  position: fixed;
  box-sizing: border-box;
  width: 300px;
  background: $Colour-sidebar-bg;
  height: 100%;
  padding: 20px 20px;

  .top-section {
    position: relative;

    .logo {
      width: 50px;
      height: 50px;
      display: inline-block;
      overflow: hidden;

      img {
        max-width: 100%;
      }
    }
    .company-name {
      position: absolute;
      top: 13%;
      right: 20px;
      cursor: pointer;

      p {
        font-size: 25px;
        color: $Colour-Company-name;
        font-weight: 600;
      }
    }

    .devider {
      margin-top: 20px;
      width: 100%;
      height: 5px;
      border-radius: 10px;
      background: #2c394b;
    }
  }
  .login-section {
    // margin-top: 3.12em;
    position: absolute;
    bottom: 15%;
    button {
      width: 11.5em;
      height: 2em;
      // border-radius: 0.5em;
      border-bottom-right-radius: 2em;
      border-top-right-radius: 2em;
      outline: none;
      border: 0;
      font-size: 1.2em;
      font-weight: 500;
      letter-spacing: 5px;
      color: #ffe6e6;
      background: #055052;

      &:hover {
        background: #09a3a8;
      }
    }
  }
  .main-menu {
    display: block;
    top: 15%;
    position: absolute;
    margin-top: 25px;
    width: 220px;
    box-sizing: border-box;
    padding: 5px;
  }

  .user-section {
    position: absolute;
    bottom: 5%;
    width: 250px;
    margin-left: 10px;

    .user-image {
      height: 40px;
      width: 40px;
      overflow: hidden;
      display: inline-block;
      background: #fff;
      border-radius: 50%;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
    .user-info {
      display: inline-block;
      color: $Colour-Menu-item-text;
      position: absolute;
      margin: 0 10px;
      h5 {
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
